html {
    background: url(background.jpg) fixed no-repeat 100%;
}

body {
    margin: auto;
    margin-top: 2%;
    width : 980px;
    font-size : 1.2em;
    background-color : white;
    padding : 10px 30px;
    padding-bottom: 2%;
    border-radius: 1%;
}

#calculator {
    margin: auto;
    border: 1px black solid;
    border-radius: 2%;
    width: 380px;
    position: relative;
    background-color: #d7efd0;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#display {
    border: 3px black solid;
    text-align: right;
    margin: 10px;
    padding: 5px;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    background-color: #cbf2ef;
}

#buttons {
    margin: 2px;
    width: 99%;
    height: 86%;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

.digit, #float_point, .operation, #equals, #clear {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30px;
    text-align: center;
}

.digit, #float_point {
    border: 1px black solid;
    border-radius: 10%;
    margin: 10px;
    float: left;
    background-color: #97c3ed;
}

.digit:active, #float_point:active {
    background-color: #dee7ef;
}

.operation, #equals, #clear {
    border: 1px black solid;
    border-radius: 10%;
    margin: 10px;
    float: right;
}

.operation {
    background-color: #efb028;
}

.operation:active {
    background-color: #efdaac;
}

#clear {
    background-color: #ef0f1e;
}

#clear:active {
    background-color: #efa2b1;
}

#equals {
    background-color: #77d659;
}

#equals:active {
    background-color: #b8dbad;
}
.rows {
    margin: 2px;
    width: 99%;
    height: 75px;
}

p, h2 {
    font-family: 'Jura', sans-serif;
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: #af2b5c;
    font-weight: bold;
}

a:visited {
    color: #f2b21d;
}